
body {
    background-color: #0c1524;
    color: #e3e3e3;
    font-family: 'Lato', sans-serif;
    text-align: center;
    
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

button:hover {
    cursor: pointer;
}

.heartship:link, .heartship:visited {
    text-decoration: none;
}

.heartship:hover, .heartship:active {
    text-decoration: underline;
    cursor: pointer;
}